/*
create SCSS file mixins and variables to fine tune and organize this mess.
*/
* {
    box-sizing: border-box;
}

/* Single property */
html {
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(0.5736137667304015vw + 12.164435946462715px);
    }

}

@media screen and (min-width: 1366px) {
    html {
        font-size: 20px;
    }
}

/* Multiple properties with same values */
h1, h2, h3, h4, h5 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media screen and (min-width: 20rem) {
    h1, h2, h3, h4, h5 {
        padding-top: calc(1vw - 0.2rem);
        padding-bottom: calc(1vw - 0.2rem);
    }

}

@media screen and (min-width: 70rem) {
    h1, h2, h3, h4, h5 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

body {
    margin: 10px;
    font-family: "Roboto", sans-serif,Verdana, Geneva, Tahoma;
    background-color: #eee;
    position: relative;
}

.img{
    width: 80px;
    height: 80px;
    /* margin-right: 15px; */
}

.twohndrd{
    width: auto;
    height: 210px;
}

header{
    width: 100%;
    display: grid;
    background-color: #eee;
    grid-template-columns: 80px 1fr 250px;
    grid-gap: 10px;
    position: fixed;
    top: 0;
    z-index: 800;
}

header > div{
    align-self:center;
}

header > .account{
    font-size: 0.6em;
    align-items:center;
    width: 200px;
    justify-content: space-evenly;
    padding: 20px;
    display: flex;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background-color: #673AB7;
    background: url(../img/valogo2018.png) center center no-repeat;
    border: 1px solid black
}

 .h1{
    margin-bottom: 1px;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
}

.title{
    display: block;
}
select {
    margin: 30px 50px 10px 2px;
    width: 150px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/seeds.png) 100% / 19% no-repeat;
    /* background-color: #49454c; */
    color: #32352f;
  }

.ftrC {
    font-size: 0.45em;
    padding-right: 4px;
    float: right;
}

.fltR{
    float: right;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
    background-color: #fff;
    color: #000;
    position: relative;
    background-color: beige;
    background: url('../img/nature.png') no-repeat fixed;
    background-size: contain;
    background-position:right;
    margin-top: 90px;
    z-index: 999;
}

.wrapper2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,4fr));
    margin-bottom: 0.5em;
}

.box {
    background-color: #ffffff;
    color: #E0E2DD;
    border-radius: 0px;
    padding: 20px;
    font-size: 100%;
}

.e {
    grid-column: 1 / 3; 
    grid-row: 2 / 3;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

button {
    padding: 15px 10px;
    border-radius: 3px;
    background: #ffffff;
    color: #000000;
    font-size: 0.5em;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px
}

h2 {
    color: #673ab7;
    /* -webkit-text-stroke: #ada47d 1px;
    -moz-text-stroke: #ada47d 1px;*/
}

li {
    list-style-type: none;
}

span {
    font-style: italic;
    color: #A78561;
    font-size: 0.6em;
}

img {
    width: 100px;
}

input {
    border: none;
    border-bottom: 1px solid #d0d0d0;
    outline: none;
    width: 250px;
    height: 34px;
    font-size: 1.3em;
    padding-left: 8px;
    background-color: #ffffff;
    color: #000000;
}

input:placeholder-shown {
    font-size: 0.4em;
    color: rgb(216, 11, 172) !important;
    }


#demo {
    font-size: 0.5em;
    margin-bottom: 55px;
}

#addT {
    display: none;
}
button#add, .reset {
    font-size: 0.9em;
    margin-right: 15px;
    padding: 5px;
    font-size: 0.6em
}

#s2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#result {
    font-size: 0.3em;
    font-family: Lato, sans-serif;
    z-index: 10;
}

.nPlants {
    font-size: 0.7em
}

.oops {
    /*color:#D03D66;*/
    color: #CDAE45;
    font-size: 0.5em;
    margin-left: 10px;
}

#mem{
    transition: all 500ms;
}

.interact{
    height: 80px;
}

.inst{
    margin-top: 30px;
    width: 262px;
    height: 134px;
    margin-left: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.instAcs{
    background-image: url('../img/aCs.webp');
}

.instMem{
    background-image: url('../img/mem.webp');
}

.instRep{
    background-image: url('../img/repRec.webp');
}

.largerX {
    font-size: 4em;
    color: #673AB7;
}

.newSeed {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.mRight {
    align-self: flex-end
}

.plantCount {
    color: #d1d2d1;
    font-size: 1vw;
    margin-left: -20px;
    margin-top: -10px;
    min-width: 250px;
}

.data-box {
    color: #000;
    border-radius: 0px;
    padding: 7px;
    font-size: 170%;
}

.data-box:last-child {
    border-bottom-right-radius: 0px;
    color: #080;
    background-color: rgb(255, 255, 255);
}
.data-box:last-child:hover{
    background-color: #eee;
}

.l {
    border-bottom: 1px solid #0d5e6e;
}

.t {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

.btn-dark {
    background: #455A64;
}

.btn-dark:hover {
    background: #727166;
}

.btn {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    -webkit-appearance: none;
    font-size: 0.9em;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    outline: 0;
    padding: 1px 8px;
    position: relative;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #EEEEEE;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;
    font-weight: normal !important;
}

.mini-button, .file-upload-button {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.data-box > .btn {
    float: right;
}

.wrapper3 {
    display: grid;
    background-color: #ffffff;
    position: relative;
    border: 1px solid #eee;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(198px, 1fr));
    margin-bottom: 0.1em;
}
.data-box > span {
    font-size: 1.3em !important;
}

.data-box > span.d{
    font-size: 0.9em !important;
}

/*
.Note {
  font-size: 0.8rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.959);
  opacity: 0;
  margin: 8px 0 10px 10px;
  transition: opacity 500ms ease-out;
  background-color: #D9CFA3;
  width: 110px;
  padding: 20px;
}
input:not(:placeholder-shown) + .Note {
  opacity: 1;
}
*/


.wrapper3:hover {
    background-color: #EDE7F6;
}

.ui-del{
    width: auto;
    height: 8px;
    margin-left: 10px;
    margin-top: 3px
}

div[name ="remove"], div[name ="seedname"]{
    cursor: pointer;
}
a.del{
    color: crimson;
    float: right;
    transition: all 300ms;
}

div[name ="remove"]:hover{
    font-size: 2em
}

span[data-tc] {
    font-size: 1em;
}

.gc{
    grid-column: 2;
    grid-row: 2;
    font-size: 0.4em !important;
}

.grn{
    color: #080;
}
.hideIt{
    display: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


@media screen and (max-width: 488px) {
    header{
        width: 100%;
        grid-auto-columns: 1fr 1fr;
    }
    header > .account{
        font-size: 0.6em;
        align-items:center;
        width: 200px;
        justify-content: center;
        padding: 20px;
        display: flex;
    }
    .profile{
        width: 40px;
        height: 40px;
        border-radius: 60px;
        background-color: #673AB7;
        background: url(../img/valogo2018.png) center center no-repeat;
        border: 0px solid black;
        margin-left:10px
    }
    .img{
        width: 60px;
        height: 60px;
    }
     .title{
        display: none;
    }
}

